header {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(180deg,#2a5bad 0,#64aed6);
    color: white;
}
header div:first-child {
    float: left;
}

.app.dark header {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header a {
    position: relative;
    color: white;
}

header p {
    padding-bottom: 10px;
}

header .button-menu {
    float: right; 
    text-align: right;
    padding-top: 20px;
}

@media screen and (max-width: 720px){
    header {
        padding-bottom: 20px;
        text-align: center;
    }
    header div:first-child {
        float: none;
    }
    header .button-menu {
        clear: left;
        float: none; 
        text-align: center;
    }
    header .button-menu button:first-child {
        margin-right: 10px;
    }
}