header {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(180deg,#2a5bad 0,#64aed6);
    color: white;
}

header img.logo {
    max-width: 240px;
    position: relative;
    top: 30px;
    left: 20px;
}

header a {
    color: white;
}

header p {
    padding-top:10px;
    padding-bottom: 10px;
}
