header {
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(180deg,#2a5bad 0,#64aed6);
    color: white;
}
.app.dark header {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header img.logo {
    max-width: 240px;
    position: relative;
    top: 30px;
    left: 20px;
}

header a {
    color: white;
}

header p {
    padding-top:10px;
    padding-bottom: 10px;
}
