.jumbotron {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: inline-block;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.jumbotron .jumbotext {
    position: absolute;
    z-index: 10;
    color: white;
    text-align:center;
    width: 100%;
    padding-top: 100px;
    text-shadow: 2px 2px 4px black;
    font-size: 2em;
}

.jumbotron .jumbogradient {
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: 9;
    background: linear-gradient(180deg,#2a5bad 0,#64aed6);
    opacity: 0.2;
}
