.jumbotron {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: inline-block;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
}

.jumbotron .jumbotext {
    position: absolute;
    z-index: 10;
    color: white;
    text-align:center;
    top: 100px;
    width: 100%;
    padding-top: 100px;
    text-shadow: 2px 2px 4px rgba(36, 36, 36, 0.351);
    font-size: 3em;
    font-family: "Mukta Malar";
}

.jumbotron .jumbogradient {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    opacity: 0.4;
}

.jumbotron .carousel-ui {
    position: absolute;
    z-index: 20;
    top: 50%;
    color: white;
}

.jumbotron .carousel-ui.left {
    left: 20px;
}

.jumbotron .carousel-ui.right {
    right: 20px;
}

@media screen and (max-width: 720px){
    .jumbotron {
        background-size: cover;
        background-position: 50% 0;

    }
    .jumbotron .jumbotext {
        top: 0px;
        font-size: 1.5em;
    }
    .jumbotron .carousel-ui {
        top: 80%;
    }
    .jumbotron .carousel-ui.left {
        left: 5px;
    }
    
    .jumbotron .carousel-ui.right {
        right: 5px;
    }
    .app.dark .jumbotron button.btn {
        background: #1f40373e;
        color: white;
    }
}