.navigation-wrap {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #252525;
    color: white;
    margin-bottom: 0;

}

.navigation-wrap #search-site {
    position: relative;
    left: 50%;
    width: 50%;
}

.navigation-wrap .weather-info {
    padding-top: 20px;
}
.navigation-wrap .nav-items {
    font-family: "Play";
}

.navigation-wrap .nav-items .row:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
    border-bottom: 1px solid #5b5959;
}
.navigation-wrap .nav-items .row .col-sm {
    padding-left: 10px;
    border-right: 1px solid #5b5959;
}

.navigation-wrap .nav-items .row .col-sm:last-child {
    border-right: 0;
}

.app.dark ul.navigation-wrap {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width:720px){
    .navigation-wrap .nav-items .row .col-sm {
        border-right: 0;
    }
    .navigation-wrap #search-site {
        padding-top: 20px;
        position: relative;
        left: 0;
        width: 100%;
    }
}