@import "../node_modules/normalize.css/normalize.css";

.app {
    /* max-width: 640px; */
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix {
    content:"";
    display: block;
    clear: both;
}
.slider {
    position:relative;
    min-height: 480px;
}

.hidden { display: none; }
.active { 
    opacity: 1 !important;
    display: block !important;
}

.overlay {
    display: none;
    position: absolute;
    top: 100px;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
}
.overlay.show {
    display: block;
}